flow4.json
[{"id":"416aef17.ee001","type":"tab","label":"流程6","disabled":false,"info":""},{"id":"fd0ee39e.234f","type":"http in","z":"416aef17.ee001","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":230,"y":180,"wires":[["f3a8d1d3.9be97"]]},{"id":"b811d008.2cb1","type":"rpi-gpio in","z":"416aef17.ee001","name":"gpio4","pin":"7","intype":"tri","debounce":"25","read":true,"x":230,"y":280,"wires":[["75e411a4.4f337"]]},{"id":"75e411a4.4f337","type":"function","z":"416aef17.ee001","name":"set gpio","func":"global.set(\"GPIO4\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["3ac6d57e.b5b57a"]]},{"id":"f3a8d1d3.9be97","type":"function","z":"416aef17.ee001","name":"get gpio","func":"msg.payload = global.get(\"GPIO4\");\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["3ac6d57e.b5b57a","23d9610d.fb42ae"]]},{"id":"3ac6d57e.b5b57a","type":"debug","z":"416aef17.ee001","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":280,"wires":[]},{"id":"23d9610d.fb42ae","type":"http response","z":"416aef17.ee001","name":"","statusCode":"","headers":{},"x":670,"y":180,"wires":[]}]