flow5.json
[{"id":"307ecaca.0ed056","type":"tab","label":"流程7","disabled":false,"info":""},{"id":"6d54d405.e54acc","type":"http in","z":"307ecaca.0ed056","name":"set gpio5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":100,"wires":[["1c42d8d4.d48af7","1719a807.748df8"]]},{"id":"1c42d8d4.d48af7","type":"function","z":"307ecaca.0ed056","name":"set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["131a6338.12025d"]]},{"id":"131a6338.12025d","type":"rpi-gpio out","z":"307ecaca.0ed056","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":480,"y":240,"wires":[]},{"id":"1719a807.748df8","type":"function","z":"307ecaca.0ed056","name":"return status 1","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["fdac112f.17083","2bb75b3d.012ab4"]]},{"id":"fdac112f.17083","type":"http response","z":"307ecaca.0ed056","name":"","statusCode":"","headers":{},"x":730,"y":160,"wires":[]},{"id":"2bb75b3d.012ab4","type":"debug","z":"307ecaca.0ed056","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"13ff4492.38d06b","type":"http in","z":"307ecaca.0ed056","name":"clear gpio5","url":"/cleargpio5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":280,"wires":[["dd9cf989.20d728","a1511ba4.f5b2b8"]]},{"id":"dd9cf989.20d728","type":"function","z":"307ecaca.0ed056","name":"clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["131a6338.12025d"]]},{"id":"a1511ba4.f5b2b8","type":"function","z":"307ecaca.0ed056","name":"return status 0","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":400,"wires":[["fdac112f.17083","2bb75b3d.012ab4"]]}]